:root {
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-color: #212121;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --fill-icons: #afb1b8;
}

body {
  background-color: var(--secondary-text-color);
  color: var(--primary-text-color);
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-style: normal;
}

/* основной цвет текста #757575 */
/* вторичный цвет текста  #212121 */
/* акцент #2196F3 */
/* белый #ffffff */
/* вторичный цвет фона #2F303A #E5E5E5 #F5F4FA*/

/* утилиты */

.list {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* стилизация header */

.header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.header .container {
  display: flex;
  align-items: center;
}

.header .container nav {
  display: flex;
}

.header .contacts {
  display: flex;
  margin-left: auto;
}

.header .contacts li + li {
  margin-left: 50px;
}

.header .contacts a {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  fill: var(--fill-icons);
  color: var(--primary-text-color);
}

.header .icon {
  margin-right: 10px;
}

.header .contacts a:hover,
.header .contacts a:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.header .contacts a {
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.header .logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-web {
  color: var(--accent-color);
}

.site-nav {
  display: flex;
}

.site-nav li + li {
  margin-left: 50px;
}

.site-nav a {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 32px;

  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

.header .current {
  position: relative;
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  bottom: 0px;
  border-radius: 2px;
  content: '';
  width: 100%;
  height: 4px;
  margin-bottom: -2px;
  background-color: var(--accent-color);
}

/* стилизация заголовков */

.features-list .title {
  margin-top: 0px;
  margin-bottom: 10px;

  font-weight: bold;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.section-title {
  margin-top: 0px;
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-color);
}

/* стилизация героя */

.hero {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--background-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/команда.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.hero .container {
  width: 696px;
  text-align: center;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.button {
  display: inline-block;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
  border: 1px solid transparent;
  border-radius: 4px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
}

/* особенности */

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features .icon {
  display: flex;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
}

.features-list {
  display: flex;
}

.features-list li {
  width: 270px;
}

.features-list li + li {
  margin-left: 30px;
}

.features p {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* our work */

.our-work {
  padding-bottom: 94px;
}

.our-work .list {
  display: flex;
}

.our-work li + li {
  margin-left: 30px;
}

.our-work p {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

/* our team */

.our-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.our-team .list {
  display: flex;
  text-align: center;
}

.our-team .cards + .cards {
  margin-left: 30px;
}

.our-team .cards-title {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: var(--secondary-text-color);
}

.names {
  margin-top: 0px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.professions {
  margin-top: 0px;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.icons-networks {
  display: flex;
  justify-content: space-between;
  width: 206px;
  /* margin-left: auto;
  margin-right: auto; */
}

.networks-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.networks-link:hover,
.networks-link:focus {
  background-color: var(--accent-color);
}

.icons-networks a {
  fill: var(--fill-icons);
}

.networks-link:hover svg,
.networks-link:focus svg {
  fill: var(--secondary-text-color);
}

.our-team .cards {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 0px 0px 4px 4px;
}

/* постоянные клиенты */

.our-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients {
  display: flex;
  justify-content: space-between;
  width: 1170px;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--fill-icons);
  border-radius: 4px;
  fill: var(--fill-icons);
}

.clients-link:hover svg,
.clients-link:focus svg {
  fill: var(--accent-color);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
}

/* портфолио */

.portfolio-section {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.horizontal-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.horizontal-buttons li + li {
  margin-left: 8px;
}

.horizontal-buttons li button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

li button:hover,
li button:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-section .cards {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-section .cards li {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  outline: 1px solid #eeeeee;
}

.portfolio-section .cards li:nth-child(3n + 3) {
  margin-right: 0px;
}

.portfolio-section .cards li:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio-cards-link:hover,
.portfolio-cards-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-section .gallery {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.portfolio-section .cards h2 {
  margin-top: 0px;
  margin-bottom: 4px;

  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.portfolio-section .cards p {
  margin-top: 0;
  margin-bottom: 0px;

  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* футер */

.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-left {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
  padding-left: 0;
  padding: 0;
}

.footer-right {
  display: flex;
  width: 206px;
  flex-direction: column;
  padding-left: 0;
  padding: 0;
}

.footer-right .title {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.footer-link-bgc {
  color: var(--secondary-text-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .logo {
  display: block;
}

.footer .logo {
  margin-bottom: 20px;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo-studio {
  color: var(--secondary-text-color);
}

address {
  margin-bottom: 9px;

  font-style: normal;
  line-height: 0.7x;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.footer .contacts li + li {
  margin-top: 9px;
}

.footer .contacts a {
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer .contacts a:hover,
.footer .contacts a:focus {
  color: var(--accent-color);
}
